<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Power Service" Manufacturer="DaneBlu Tools" Version="1.0.0.0" UpgradeCode="b3c55c52-0443-4cd0-98e3-6a83e4f891f5">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="PowerServiceComponents" />
      <ComponentGroupRef Id="PowerServiceDependencies"/>
      <ComponentGroupRef Id="PowerServiceConfigurations"/>
    </Feature>
  </Package>
</Wix>
